.picker {
	grid-column:5/8;
	grid-row:2/3;
	//background: purple;
	padding-bottom:50px;


	input{
		font-size: 80px;
		font-family: 'Roboto';
		font-weight:bold;
		color: $color-gray-one;

		text-align:center;
		border: none;
		background-color: transparent;
		border-bottom: 2px solid silver;


		&:focus {
			outline:none;
		}
	}
}